.container
  #slideshow
    %div= image_tag 'gallery/final/20141203_170552.jpg', {u: 'image'}
    %div= image_tag 'gallery/final/20141213_132405.jpg', {u: 'image'}
    %div= image_tag 'gallery/final/Family-Pics.jpg', {u: 'image'}
    %div= image_tag 'gallery/final/DSC_0900.jpg', {u: 'image'}
    %div= image_tag 'gallery/final/scan0003.jpg', {u: 'image'}
    %div= image_tag 'gallery/final/IMG_0004.jpg', {u: 'image'}
    %div= image_tag 'gallery/final/IMG_0362.jpg', {u: 'image'}
    %div= image_tag 'gallery/final/20141213_150015.jpg', {u: 'image'}
    %div= image_tag 'gallery/final/SP4.jpg', {u: 'image'}
    %div= image_tag 'gallery/final/IMG_3894.jpg', {u: 'image'}
    %div= image_tag 'gallery/final/DSC_1511.jpg', {u: 'image'}
    %div= image_tag 'gallery/final/DSC_2068.jpg', {u: 'image'}
    %div= image_tag 'gallery/final/scan0001.jpg', {u: 'image'}
    %div= image_tag 'gallery/final/scan0004.jpg', {u: 'image'}
    %div= image_tag 'gallery/final/DSC_2082.jpg', {u: 'image'}
    %div= image_tag 'gallery/final/DSC_2097.jpg', {u: 'image'}
    %div= image_tag 'gallery/final/SP8.jpg', {u: 'image'}
    %div= image_tag 'gallery/final/scan0002.jpg', {u: 'image'}
    %div= image_tag 'gallery/final/scan0005.jpg', {u: 'image'}
    %div= image_tag 'gallery/final/scan0006.jpg', {u: 'image'}
    %div= image_tag 'gallery/final/scan0007.jpg', {u: 'image'}

:javascript

    $('#slideshow').slick({
      mobileFirst: true,
      adaptiveHeight: true 
      // dots: true,
      // infinite: true,
      // speed: 300,
      // slidesToShow: 1,
      // adaptiveHeight: false,
      // variableWidth: true
      
    });