/welcome page
.clear-fix.clearfix
.content
  .page.home#home
    = render partial: 'home'
  /our story
  .page.our-story#our-story{data: { top_bottom: 'background-color:rgb(25,25,25) ', bottom_center: 'background-color:rgb(105,105,105)'}} 
    = render partial: 'our_story2'
  /the proposal
  .page.proposal#the-proposal
    = render partial: 'proposal'
  /wedding party
  .page.wedding-party#wedding-party
    = render partial: 'wedding_party'
  .page.photo-gallery#photo-gallery
    = render partial: 'photo_gallery'
  .page.venue#venue
    = render partial: 'venue'
  
:javascript
  $(function(){
    //var s = skrollr.init();
  });