.content
  .guestbook
    .bg
      .page.index
        .row
          .col-md-6.col-md-offset-1
            %h2.text-right Guest books  
            - if @guestbooks.present?
              = will_paginate @guestbooks, class: 'text-right paginate'
              - @guestbooks.reverse.each do |g|
                - if @admin 
                  .well.text-container
                    .guestbook-name= "#{g.name.titleize} | #{pretify(g.created_at)}"
                    .guestbook-msg= g.message
                    .admin_actions
                      =link_to 'Delete', guestbook_path(g.id), method: :delete, class: 'btn btn-danger btn-xs'
                      =link_to 'Approve', guestbook_path(g.id), method: :put, class: 'btn btn-primary btn-xs', disabled: g.approved? 
                    .clearfix   
                - elsif g.approved?
                  .well.text-container
                    .guestbook-name= "#{g.name.titleize} | #{pretify(g.created_at)}"
                    .guestbook-msg= g.message
                .clearfix
              = will_paginate @guestbooks, class: 'text-right'  
              %br/
              %br/
              %br/
              %br/
          .clearfix  
    .clearfix

  .clearfix  

.clearfix
.br/
.br/
