%nav.navbar.navbar-inverse.navbar-fixed-top
  .container
    .navbar-header
      %button.navbar-toggle.collapsed{"aria-controls" => "navbar", "aria-expanded" => "false", "data-target" => "#navbar", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
    #navbar.collapse.navbar-collapse
      %ul.nav.navbar-nav
        %li.active
          =link_to 'Home', "#{root_url}#home"
        %li
          =link_to 'Our Story', "#{root_url}#our-story"
        %li
          =link_to 'The Proposal', "#{root_url}#the-proposal"
        %li
          =link_to 'Wedding Party', "#{root_url}#wedding-party"
        %li
          =link_to 'Guestbook', new_guestbook_path
        %li
          =link_to 'Wedding Pictures', wedding_pictures_path, {style: "color: pink;"} 

      .navbar-right
        = render 'layouts/music_player' if !(controller_name == 'guestbooks') && !(controller_name == 'page' && action_name == 'wedding_pictures')
        
:javascript
  $('.nav li a').on('click', function() {
    $(this).parent().parent().find('li.active').removeClass('active');
    $(this).parent().addClass('active');
  });


