%nav.navbar.navbar-inverse.navbar-fixed-top
  .container
    .navbar-header
      %button.navbar-toggle.collapsed{"aria-controls" => "navbar", "aria-expanded" => "false", "data-target" => "#navbar", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
    #navbar.collapse.navbar-collapse
      %ul.nav.navbar-nav
        %li.active
          =link_to 'Home', "#{root_url}#home"
        %li.sel
          =link_to 'Our Story', "#{root_url}#our-story"
        %li.sel
          =link_to 'The Proposal', "#{root_url}#the-proposal"
        %li.sel
          =link_to 'Wedding Party', "#{root_url}#wedding-party"
        %li.sel
          =link_to 'Photo Gallery', "#{root_url}#photo-gallery"
        %li.sel 
          =link_to 'Venue Info', "#{root_url}#venue"
        %li.sel
          =link_to 'Guestbook', new_guestbook_path
:javascript
  $('.nav li a').on('click', function() {
  alert('owow')
    $(this).parent().find('.active').removeClass('active');
    $(this).parent().addClass('active');
});


